<!DOCTYPE html>
<html>
<head>
  <title>GmapsApp</title>
  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="head">
    <h1>GMaps App</h1>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
